/*Reset csss*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.title{
    font-family: "Oswald", sans-serif;
}

.inner{
    width: 80%;
    margin: auto;
}

.first-section{
    border-bottom: 1px solid #000;
}
.first-section-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 70px;
}
.menu-icon{
    width: 30px;
    height: 30px;
}

/*Second section*/



.second-sec-img,.second-sec-content{
    width: 100%;
}

.second-section-inner{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 600px;
}

.second-sec-content{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.second-sec-title{
    font-size: 52px;
}
.second-sec-text{
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
}



/*Third section*/

.third-sec-img,.fourth-sec-img, .fifth-sec-img {
    width: 50%;
}

.third-section,.fourth-section{
    padding: 50px 0;
    display: flex;
    align-items: start;
    gap: 50px;
}
.third-sec-content,.fourth-sec-content,.fifth-sec-content,.sixth-sec-content{
    position: relative;
    width: 30%;
}
.third-sec-content-icon{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 0;
}
.third-sec-elements{
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 50px;
}
.third-sec-elements h3,.fourth-sec-elements h3, .fifth-sec-elements h3,.sixth-section-elements h3,.eight-sec-elements h3{
    font-size: 25px;
}
.third-sec-elements p{
    padding: 20px 0 20px 30px;
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
    font-weight: 400;
}
.fourth-sec-elements p,.fifth-sec-elements p,.sixth-sec-elements p,.eight-sec-elements p{
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 400;
}
.fourth-sec-elements,.fifth-sec-elements,.sixth-sec-elements,.eight-sec-elements{
    padding-right: 60px;
}
.third-section .learn-btn{
    background-image: linear-gradient(to right, #84abec, #cf84fb);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

/*Fourth Section*/

.fourth-section .learn-btn ,.fifth-section .learn-btn,.sixth-section .learn-btn{
    background: #000;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    display: block;
    width: max-content;
}

.fourth-section{
    justify-content: end;
}

/* fifth section*/
.fifth-section{
    display:flex;
    justify-content: space-between;
}
.fifth-sec-content{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:250px;
    width: 350px;


}

.fifth-sec-content-icon{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 0;
}
.fifth-sec-elements{
    z-index: 1;
    position: absolute;
}

/*     sixth part  */
.sixth-section,.eight-section{
    margin-top:200px;
    display:flex;
    align-items: center;
    gap:50px;
}
.sixth-sec-img,.eight-sec-img{
    width:60%;
}
.sixth-sec-content,.eight-section-content{
    width:375px;

}
.sixth-sec-elements h3{
    font-weight: bold;
}

/*eight Section*/
.eight-sec-content{
    width: 375px;
}

.eight-sec-elements h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index:1;
}
.eight-sec-elements p{
    
    margin:55px 0;
    font-size: 17px;
    padding-left: 20px;
}
.eight-sec-elements a{
    background-image: linear-gradient(to right, #84abec, #cf84fb);
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-left: 13px;
    font-weight: bold;

}
/*seventh Section*/
.seventh-section {
    margin: 30px 0;
    background-image: linear-gradient(to right, rgb(85, 198, 213), rgb(151, 170, 230), rgb(189, 145, 244));
    ;
    display: flex;
    padding: 100px 0;
}

.seventh-section p {
    width: 79%;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-left: 250px;
    line-height: 30px;
}

.seventh-section .white-box {
    background-color: white;
    width: 120%;
    height: 330px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.seventh-section .white-box h2 {
    font-size: 49px;
    margin-top: 70px;
    margin-left: 200px;
    line-height: 59px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.seventh-section .white-box button {
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 8px 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    margin-left: 200px;
    margin-top: 40px;
}
/*ninth Section*/
.ninth-section-img-icon{
    width: 100px;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 0;
    
}
.ninth-section-elements{
    z-index:1;
    margin-top: -100px;
    margin-left:45px;
    
    padding-left: 15px;

}
.ninth-section-elements h3{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size:28px;
}
.ninth-section{
    margin-left:115px;
    
}
.ninth-elements-text1{
    width:400px;

}
.ninth-elements-text2{
    width:700px;
}
/*picture Section*/
.pictures{
    display: grid;
    width: 100px;
    height: 100px;
    grid-template-columns: 100px 100px;
    grid-template-rows:100px 100px 100px 100px ; 

}
.one{
    grid-row:1/3;
    grid-column:1/2;
}
.two{
    grid-row: 2/4;
    grid-column: 1/2;
}
.three{
    grid-row: 3/5;
    grid-column: 1/2;
}
.four{
    grid-row: 4/6;
    grid-column: 1/2;
}
.five{
    grid-row: 1/3;
    grid-column: 2/3;
}
.six{
    grid-row: 2/4;
    grid-column: 2/3;
}
.seven{
    grid-row: 3/5;
    grid-column: 2/3;

}
.eight{
    grid-row: 4/6;
    grid-column: 2/3;
}



/*Responsive*/

@media(max-width:768px){
    .logo{
        display: none;
    }
    .first-section-inner{
        justify-content: end;
    }
    .second-section-inner{
        width: 90%;
    }
    .second-sec-title{
        font-size: 28px;
    }
    .third-section,.fourth-section{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .third-sec-img,.third-sec-content,.fourth-sec-img,.fourth-sec-content{
        width: 90%;
    }
    .third-sec-elements{
        position: relative;
        left: 0;
    }
    .logo-mobile{
        display: block;
        width: 100px;
        height: 70px;
        margin: auto;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .third-sec-elements{
        left: 0;
        top: 0;
    }
}
@media(min-width:769px){
    .logo-mobile{
        display: none;
    }
}